html {
    height: 100%;
}

body {
    background-color: #d5e5f2b6;
    font-family: 'Inter', sans-serif;
    height: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media(min-width: 768px) {
    .banner {
        flex-direction: row;
    }
}

.estatico {
    height: calc(100% - 50px);
    padding-top: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #fff;
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    border: 1px solid #d0d0d0;
    z-index: 1;
}

.header a {
    text-decoration: none;
}

.logo {
    width: 80px;
}

#myChart {
    width: 40%;
}

/* Place Buscar Personas*/
.form-control {
    margin-left: 10%;
}

.input__search {
    appearance: none;
    border: none;
    border-bottom: 1.5px solid #000;
}

.input__search:focus {
    outline: none;
}

/*Boton-Buscar*/
.btn-outline-success {
    align-items: center;
    margin-left: 10px;
    position: relative;
    height: 25px;
    color: #01BED9;
    cursor: pointer;
}


.bg-body-tertiary {
    justify-content: space-between;
    width: 100%;
}

.update-direction {
    border: 0.5px solid #d0d0d0a2;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.644);
}

/*Actualizar Información */
.info-update {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 65%;
}

.info-update span {
    margin-right: 10px;
    font-weight: bold;
    font-size: 80%;
}

.info-update i {
    color: #01BED9;
}

#button-update {
    border: 0.5px solid #d0d0d0a2;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.644);
}

#button-update i {
    color: #01BED9;
}

/*Actualizar Información index*/
.info-index {
    margin-top: 15%;
}

.info-index span {
    margin-top: 25%;
    margin-right: 15px;
    font-size: 80%;
}

/*Ubicacion Página*/
.indicador-pag {
    font-weight: 700;
    font-size: 110%;
    display: none;
    margin-right: 30px;
    display: flex;
    position: relative;
}

.indicador-pag i {
    color: #01BED9;
    margin-right: 10px;
}

.indicador-pag span {
    /*frase no haga salto de línea*/
    white-space: nowrap;
}


@media (max-width: 1200px) {
    .lista-empleados-dos {
        width: 60%;
    }
}

@media (max-width:900px) {
    .texto {
        display: none;
    }
}

/*Responsive pantallas pequeñas*/
@media (max-width:800px) {
    body html {
        width: 50vw;
    }
}



/*search-People*/
.logo-search{
    align-items: center;
    justify-content: center;
    display: flex;
}

#buscador{
        border: none; 
        border-bottom: 1px solid black;    
        width: 170px;  
        margin-right: 10px;  
        margin-left: 30px;
}

.btn-search{
    border: none;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-search:hover{
    background: #d0d0d0;
}

#circle {
    width: 600px;
    height: 600px;
    display: flex;
  }